<div ngClass="flex">
  <table>
    <tr>
      <td>
        <app-next-pattern-board></app-next-pattern-board>
        <button type="button" (click)="startGame()">Start Game</button>
        <br>

        <div class="whiteText">
          <h2>Keys</h2>
          <ul>
            <li>a = Left</li>
            <li>d = Right</li>
            <li>s = Down</li>
            <li>k = Rotate</li>
          </ul>
        </div>
      </td>
      <td>
        <app-tetris-board></app-tetris-board>
      </td>
      <td class="rightTd">
        <app-tetris-score-board></app-tetris-score-board>
        <div class="whiteText">
          <h3>instructions:</h3>
          <ul>
            <li>
              Each time a pattern is placed and it completes a row,<br />
              the speed is increased (2/3/4 completed rows = 1 speed increases)
            </li>
            <!-- <li>
              raising the difficulty level increases both the speed increments
              and max speed
            </li> -->
            <li>
              <h4>score points every line completed with a pattern:</h4>
              <ul>
                <li>1 line = 20</li>
                <li>2 lines = 50</li>
                <li>3 lines = 90</li>
                <li>4 lines = 140</li>
              </ul>
            </li>
          </ul>
        </div>
      </td>
    </tr>
  </table>
</div>
